<!DOCTYPE HTML>
<html>
<head>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="../../assets/img/favicon.ico" type="image/x-icon" />
<link href="../../assets/styles/style.css" rel="stylesheet" type="text/css" />

<meta charset="utf-8">
<title>Christopher Beckman - Audio and Video Production</title>
</head>

<body>
<div id="body">
<nav id="nav">
<ul>
    <li><a href="../../index.html">HOME</a></li>
    <li><a href="../contact_me.html">CONTACT ME</a></li>
    <li><a href="../about_me.html"> ABOUT ME </a> </li>
    <li><a href="#">PORTFOLIO</a>
    <ul><li><a href="web_design.html">WEB DESIGN</a></li>
    <li><a href="graphic_design.html">GRAPHIC DESIGN</a></li> 
    <li><a href="audio_video.html">AUDIO/VISUAL</a></li>
    <li><a href="game_design.html">GAME DESIGN</a></li></ul>
    </li>
</ul>
</nav>
<div class="container">

<h1> Audio Production and Post Production </h1>

<div class="row" id="audioBase"> 

</div>

<div class="row">
<div class="col-sm-4 stuff">
  <h3> The Adventures of Andrew Alexander Abraham and Fiona: Into the Snakepit</h3>
  <p>  </p>
</div>
<div class="col-sm-8 stuff">
  <h3> <div class="mp3_player">
          <div class="audio_box" id="audio_box_id1"> </div>
          <canvas id="analyser_render1" >
       </div> 
</h3>
</div>
</div> <br>


<div class="row">
<div class="col-sm-4 stuff">
  <h3> An Excerpt from Star Trek IV</h3>
  <p>  </p>
</div>
<div class="col-sm-8 stuff">
  <h3> <div class="mp3_player">
          <div class="audio_box" id="audio_box_id2"> </div>
          <canvas id="analyser_render2" >
       </div> 
</h3>
</div>
</div> <br>


<h1> Video Production and Post Production </h1>
<div class="row">
<div class="col-sm-4 stuff">
    <h3> Psychosis</h3>
    <p>  </p>
</div>
<div class="col-sm-8 stuff">
    <h3> <a href="https://www.youtube.com/watch?v=n_iGy3E64hI" target="_blank"><img src="../../assets/img/portfolio/psychosis_tumb.jpg" class="img-responsive"> </a> </h3>
</div>
</div> <br>

<div class="row">
<div class="col-sm-4 stuff">
    <h3> From Here to There Maps</h3>
    <p>  </p>
</div>
<div class="col-sm-8 stuff">
    <h3> <a href="https://www.youtube.com/watch?v=yzezC2hQ-_Q" target="_blank"><img src="../../assets/img/portfolio/Maps_rap.jpg" class="img-responsive"> </a> </h3>
</div>
</div> <br>



</div>
</div>

<script src="../../scripts/scripts.js" type="text/javascript"> </script>
<script src="../../scripts/audio_display.js" type="application/javascript"> </script>
</body>
</html>
