<!DOCTYPE HTML>
<html>
<head>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="../../assets/img/favicon.ico" type="image/x-icon" />
<link href="../../assets/styles/style.css" rel="stylesheet" type="text/css" />

<meta charset="utf-8">
<title>Christopher Beckman - Web Design</title>
</head>

<body>
<div id="body">
	<nav id="nav">
	 	<ul>
            <li><a href="../../index.html">HOME</a></li>
            <li><a href="../contact_me.html">CONTACT ME</a></li>
            <li><a href="#">PORTFOLIO</a>
            <ul><li><a href="web_design.html">WEB DESIGN</a></li>
            <li><a href="graphic_design.html">GRAPHIC DESIGN</a></li> 
            <li><a href="audio_video.html">AUDIO/VISUAL</a></li>
            <li><a href="game_design.html">GAME DESIGN</a></li></ul>
            </li>
     	</ul>
    </nav>
<div class="container">
<h1> Web Design and Coding Experience </h1>
	<div class="row">
   	  <div class="col-sm-4 stuff">
        	<h3> Vertellus.com</h3>
            <p> While I did not code the vertellus website I was partially responsible for maintaince of the website and updating the graphics as needed. Many of the graphics that are currently on the website were designed by me or modified to better suit the needs of the company. I also did a lot of work on the back end of the website in transfering files from an older server FileNet to a new server at SharePoint. </p>
      </div>
        <div class="col-sm-8 stuff">
        	<h3> <a href="http://www.vertellus.com" target="_blank"><img src="../../assets/img/portfolio/Vertellus.jpg" width="730px"> </a> </h3>
      </div>
	</div> <br>
    
	<div class="row">
   	  <div class="col-sm-4 stuff">
        	<h3> Marill</h3>
            <p> When I first discorvered codepen I used it to design a creature using nothing but HTML and CSS. This is the result of that work. Its from the franchise Pokemon and is a tailless version of the pokemon Marill who is one of the easiest to replicate and thus made a good canidate for practising HTML/CSS design. </p>
      </div>
        <div class="col-sm-8 stuff">
        	<h3> <a href="https://codepen.io/atadsp/pen/ezvdWZ" target="_blank"><img src="../../assets/img/portfolio/marill.jpg" width="730px"> </a> </h3>
      </div>
	</div> <br>
    
</div></div>

<script src="../../scripts/scripts.js" type="text/javascript"> </script>
</body>
</html>
